.page-footer
    $border-color: var(--color-muted)
    background-color: white

    width: 100%
    height: 44px
    padding-top: 8px
    margin-bottom: 0

    position: absolute
    bottom: 0

    border-top: 1px solid $border-color

    font-size: 0.9rem
    text-align: center
